{% extends 'base.html' %}

{% block title %} | Create Post{% endblock %}

{% block content %}
<div class="container create-post pt-2">
    <h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>

    <form action="/users/{{user.id}}/posts/new" method="post">
        <div class="form-group">
            <label class="col-form-label mt-4" for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" placeholder="Post Title..." required>
        </div>

        <div class="form-group">
            <label class="col-form-label mt-4" for="content">Content</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="10" required></textarea>
        </div>

        <a class="btn btn-outline-info mt-4" href="/users/{{user.id}}">Cancel</a>
        <button class="btn btn-outline-primary mt-4" type="submit">Add</button>
    </form>

</div>
{% endblock %}