{% extends 'base.html' %}

{% block title %} | User details{% endblock %}

{% block content %}
<div class="container user-details pt-2">
    <h1>User Detail Page</h1>

    <div class="card">
        {% if user.image_url %}
        <img class="card-img-top" src="{{user.image_url}}" alt="{{user.first_name}} {{user.last_name}}">
        {% endif %}
        <div class="card-body">
            <h5>{{user.first_name}} {{user.last_name}}</h5>
            <a class="btn btn-outline-info" href="/users/{{user.id}}/edit">Edit</a>
            <a class="btn btn-outline-danger" href="/users/{{user.id}}delete">Delete</a>
        </div>
    </div>

</div>
{% endblock %}